/* about-us.css */

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

section {
    background-color: #fff;
    padding: 40px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

#about-us h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#about-us p {
    font-size: 1.2em;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: #666;
}

#mission h2,
#team h2,
#values h2,
#contact-us h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
}

#mission p,
#team p,
#values p {
    font-size: 1.2em;
    text-align: center;
    color: #555;
}

#team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    background-color: #e3f2fd;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    animation: slideInUp 0.8s ease-in-out;
}

.team-member img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

#values ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#values ul li {
    font-size: 1.2em;
    margin: 10px 0;
    animation: fadeInUp 1.2s ease-in-out;
    color: #666;
}

#contact-us {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.contact-card {
    background-color: #e3f2fd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    animation: bounceIn 1s ease-in-out;
}

.contact-card h2 {
    margin-top: 0;
    font-size: 1.8em;
    color: #3f51b5;
}

.contact-card p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #555;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
